.user-info {
  margin-bottom: 1rem;
  .user {
    position: relative;
    margin-bottom: 60px;

    .initials {
      float: left;
      height: 50px;
      width: 50px;
      font-size: 25px;
      line-height: 50px;
      text-align: center;
      background-color: #c1c2d1;
      color: #3e3f4e;
      margin-right: 1rem;
    }

    .fullname {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      text-transform: uppercase;
      letter-spacing: 1.75;
    }
  }

  .ui.segment.balance {
    border: 1px #3e3f4e solid;
    background: #3e3f4e;
    font-size: 18px;

    .label {
      float: left;
    }

    .value {
      float: right;
    }
  }
}
