.ui.basic.table.order-book {
  border: none;
  color: #c1c2d1;

  thead th,
  tfoot th {
    font-weight: bold;
    color: #c1c2d1;
  }

  tr.spread {
    background: #4b4b5d;
  }

  tr.ask > td.price {
    color: #f06639;
  }

  tr.bid > td.price {
    color: #84fa69;
  }
}
