.main-page {
  margin-top: 75px;

  .ui.grid > .column:not(.row).panels,
  .ui.grid > .row > .column.panels {
    padding-left: 60px;
  }

  .ui.header.panel-header {
    color: #c1c2d1;
    text-transform: uppercase;
    letter-spacing: 1.75;
  }
}
